<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title>イーコ | 利用規約</title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/common.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/reset.css" th:href="@{/css/reset.css}" media="all"/>
</head>

<body class="back">
	<div id="main" style="padding: 30px;">
		<h2 class="h2_text">利用規約</h2>  
		
        	この利用規約（以下、「本規約」といいます。）は、WIDE VIDEO（以下、「当社」といいます。）が運営するイーコサービス（以下、「本サービス」といいます。）の利用に関し、当社と本規約に同意された施設ならびにその施設に認められた利用者との間に適用されます。
			
		<h3 class="h3_text">第１章 総則</h3>
<br />  第１条（定義） 
<br />   本規約において以下の用語は以下の意味で使用するものとします。
<br />   （１）「本サイト」
<br />   以下のURLは以下のウェブサイトをいいます。
<br />   http://www.e-co-lab.com
<br />   （２）「コンテンツ」
<br />   デジタル画像および動画のダウンロード等、本サービスで利用者がダウンロードすることができる商品をいう。
<br />   （３）「本サービス」
<br />   当社が運営する「イーコ」をいい、以下のサービスが含まれます。
<br />   ・コンテンツダウンロードサービス
<br />   ・その他、追加または具備する関連サービス等を含むものとします。
<br />   （４）「利用者」
<br />   本サービスを導入された施設において、利用する権限を有した個人をいいます
<br />   （５）「本契約」
<br />   当社と施設との間において、本規約に基づいて成立する契約をいいます。利用権限が認められた利用者の方はご利用の前に必ず本規約に同意して頂きます。
<br />   
<br />   第２条（本規約の変更時の手続き）
<br />   １．当社は、自己の裁量により、予告なく本規約の内容を変更する場合があります。
<br />   ２．前項の場合、当社は、本サイトにおいて、速やかに変更後の規約を掲載し、本サイト上で本規約の変更を利用者に通知するものとします。
<br />  		 ３．前項の通知の後、利用者が異議なく本サイトをご利用いただいた場合、本規約の変更に同意したものとみなします。
<br />      
		<h3 class="h3_text">第２章 コンテンツダウンロードサービス</h3>
            
<br />  第３条（コンテンツダウンロードサービスの利用）
<br />  利用者は、本サービスで提供しているコンテンツを施設または当社より徴収される月額費用の対価として利用することができます。
<br /> 
<br />  第４条（代金のお支払い）
<br />  本サービスで提供しているコンテンツをダウンロードする場合、利用者は、各施設にて定められた月額会費を当社が指定する方法でお支払いただきます。
<br /> 
<br />  第５条（キャンセル）
<br />  本サービスは施設との契約に基づくものであり、施設の付帯サービスの一環となっている為、個別のキャンセルは応じられません。（商品の特性を含む）（一部物販商品を除く）
<br /> 
<br />  第６条（返品特約）
<br />  一部の物販商品の交換または返品は原則受け付けないものとします。
<br />  但し、商品に著しく問題がある場合、またはご注文と異なる商品だった場合のみ、正しい商品または良品と交換するものとします。
<br />  なお、交換の場合は、商品到着後1週間以内に弊社の指定する方法（カスタマーサポート）により当社に通知するものとし、１週間を超えての交換には応じられませんのでご了承ください。

		<h3 class="h3_text">第３章 一般条項</h3>
<br /> 第７条（権利の帰属）
<br /> 本サービス及びコンテンツに関する著作権等を含む一切の権利（著作権法第２７条及び第２８条の権利を含む）は、当社または著作権を有する第三者に帰属します。また、利用者は当社及び提携スタジオに対し、著作権、著作者人格権、名誉権、肖像権、プライバシー権、パブリシティ権等を含むがこれに限らない。）を行使しないものとします。
<br /> 
<br /> 第８条（禁止行為）
<br /> 当社は、利用者による以下の行為を禁止します。
<br /> （１）本サービスの内容を無断で転載、複写、または転送する行為
<br /> （２）第三者の権利または法律上の利益（著作権、著作者人格権、名誉権、肖像権、プライバシー権、パブリシティ権等を含むがこれに限らない。）を侵害する行為
<br /> （３）犯罪行為及びこれを助長する行為
<br /> （４）法令や公序良俗に反する行為
<br /> （５）本サイトを営利目的で利用する行為
<br /> （６）本サービスの運営を妨げる行為
<br /> （７）その他、当社が不適当と判断する行為
<br /> 
<br /> 第９条（免責）
<br /> １．当社は、コンテンツの利用により万が一利用者が何らかの被害に遭遇することがあっても一切損害賠償義務を負わないものとします。
<br /> ２.当社は、本サービスで提供するコンテンツについて、その完全性、正確性等いかなる保証も行いません。
<br /> ３.当社は、利用者が本サービスを利用してダウンロードを行った際に、利用者に発生した損失について、いかなる保証もいたしません（ダウンロード後における利用者の未保存によるデータの喪失等）。但し、当社の責めに帰すべき事由により利用者に損失が発生した場合は、この限りではないものとします。
<br /> 
<br /> 第１０条（本契約の解除）
<br /> 当社は、利用者の利用の有無に関わらず本サービスに対する代金のお支払を遅滞した場合、その他本規約に違反した場合は、何ら催告なしに利用者に対する本サービスの提供を停止すること及び本契約を解除することができるものとします。
<br /> 
<br /> 第１１条（使用目的の制限）
<br /> 本サービスは、個人的なご利用を目的とされる方のみを対象として提供させて頂くものです。利用者は本サービスの利用や本サービスへのアクセス、利用することにより得たいかなるデータ及び情報も、当社及びその他当該知的財産権を有する第三者の事前の承認を得ることなく、その全部あるいは一部を問わず、私的使用の範囲を超えて、利用（著作権法第２1条乃至第２８条の利用行為を含む。）することはできないものとします。
<br /> 第１２条（損害賠償）
<br /> １.当社は、当社の責に帰すべき事由により利用者が損害を被った場合は、当該するご利用料金の金額を上限として、当該損害を賠償するものとします。但し、当社の故意または重大な過失に基づく損害については、その限りではありません。
<br /> ２.利用者は、本規約を順守しなかったことにより、当社に対して損害を与えたときは、その損害により生じた全ての損害に対して賠償の責を負うものとします。
<br /> 
<br /> 第１３条（本サービスの一時中断）
<br /> １．当社は利用者に対し、以下のいずれかに該当する場合、本サイトにおいて、事前または緊急の場合は事後に通知し、本サービスの全部または一部の提供を中断することができるものとします。
<br /> （１）本サービスの提供に必要なハードウェア、ソフトウェア等の保守点検等を定期的に又は緊急に行う場合
<br /> （２）本サービスの提供に必要な設備（ハードウェア・ソフトウェア）の故障、障害、不具合等が生じた場合
<br /> （３）本サービスがコンピュータ・ウィルスによる攻撃を受けた場合
<br /> （４）本サービスが不正アクセスされた場合等、犯罪捜査のために必要がある場合
<br /> （５）火災、地震、停電、その他不可抗力により本サービスの提供が困難な場合
<br /> （６）その他、本サービスを提供できない合理的な理由が生じた場合
<br /> ２.当社は、施設に対し、一定の予告期間を設けて通知した上、本サービスを終了することができるものとします。この場合、本サービス終了時に、本契約も終了するものとします。
<br /> ３.当社は、本条１項または２項に起因して利用者その他の第三者に対し、いかなる責任も負わないものとします。
<br /> 
<br /> 第１４条（本サービス提供の停止）
<br /> 当社は、利用者が第８条各号に記載する事由のいずれかに該当する行為をした場合、または、これらの事由に該当するおそれがあると認めた場合、当該利用者に対し、事前に何ら通知することなく、本サービスの提供を停止し、または本<br /> 契約を解除することがあります。この場合、当社は、利用者その他の第三者に対し、いかなる責任も負わないものとします。
<br /> 
<br /> 第１５条（個人情報の取扱）
<br /> １.当社は、利用者の個人情報の管理に関し、個人情報保護法を遵守するものとします。
<br /> ２.利用者は当社が、以下の目的で利用者の個人情報を収集、利用することに同意します。
<br /> （１）当社が利用者に対し、プロモーションに関する案内、サービスの紹介、仕様変更、本規約の変更の通知のためのメール配信等に利用する目的
<br /> （２）当社が得られた情報をもとに統計資料を作成する目的
<br /> （３）当社が利用者に対し、当社の提携先の商品・サービス等の情報を配信する目的
<br /> （４）当社が利用者に商品を発送する目的
<br /> （５）当社が利用者からの問い合わせに利用する目的
<br /> ３．利用者は、当社が第三者に対し、個人情報の全部または一部の管理を委託することに同意するものとします。
<br /> ４．当社は、利用者ご自身の同意なしに前項の第三者以外に開示・提供することはありません。ただし、個人情報保護法第２３条１項各号に該当する場合、裁判所、警察等の公的機関から開示を求められた場合、利用者ご自身の同意を得<br /> ることなく個人情報を開示・提供することがあります。
<br /> 
<br /> 第１６条（撮影した写真の本サービスへの掲載と削除）
<br /> イベント等で撮影された写真は、当該イベント等の主催者（施設）が施設で活用する資料収集を目的としており、年度毎のカテゴリーで保管するものとして期首撮影から4年後の3月末日に対象年度内のコンテンツは本サービスから削除されるものとします。
<br /> また、イベント等で撮影された写真の掲載を希望しない場合は当社「カスタマーセンター」および施設にお問い合わせください。
<br /> 
<br /> 第１７条（公開範囲）
<br /> 本サービスの公開範囲は施設コードの認証が一致しないと利用できない仕組みになっており、同一施設の限られた範囲でのみ公開されるものとします。
<br /> 
<br /> 第１８条（権利義務の譲渡禁止）
<br /> 利用者は、本契約に係るいかなる権利または義務も第三者に移転または譲渡することはできません。
<br /> 
<br /> 第１９条（サポート）
<br /> 本サービスに関するお問い合わせは下記のメールアドレスにご連絡下さい。
<br /> イーコ　カスタマーサポート
<br /> Mailアドレス：support@e-co-lab.com
<br /> 
<br /> 第１９条（準拠法）
<br /> 本契約の成立、効力、履行および解釈に関しては日本法が適用されるものとします。
<br /> 
<br /> 第２０条（合意管轄）
<br /> 当社と利用者との間で疑義または争いが生じた場合には、誠意をもって協議することとしますが、それでもなお解決しない場合には東京地方裁判所または東京簡易裁判所を専属の管轄裁判所とします。
            
		<h3 class="h3_text"></h3>
<br />WIDE VIDEO
<br />発効日2015年6月1日
	</div>
    <div id="footer">© 2015 WideVideo</div>
</body>
</html>
